@charset "UTF-8";

/*上の隙間をなくしてる*/
*{
    margin: 0;
    padding: 0;}

/*ページ左上のメインボタン*/
.top-top{
    height: 110px;
    margin-left: 35px;
    float: left;}

/*ヘッダー全体*/
header{
    width: 100%;
    height: 110px;
    text-align: center;
    background-color: #E60000;
    box-shadow: 0px 0px 30px 0px rgba(11, 176, 226, 0.8);}  

/*ヘッダーの鈴-->*/    
header .suzu{
    height: 60px;
    text-align: center;
    margin-left: 7%;
    margin-top: 75px;}

/*ヘッダーのメニュー*/
header .top-list{
    line-height: 40px;
    margin-top: 30px;
    float: right;
    margin-right: 35px;
    list-style: none;
    color: #ffffff;}

/*ヘッダーのメニューの色変え(青→白)*/
.t-m{
    color: inherit;
    text-decoration: none;}

/*ヘッダーの開いてるページのメニュー*/
header .top-list-item-1{
    list-style: none;
    display: inline-block;
    margin: 0 3px;
    border-bottom: 3px solid #ffffff;
    position: relative;}

/*ヘッダーの開いてるページ以外のメニュー①*/
header .top-list-item{
    list-style: none;
    display: inline-block;
    margin: 0 3px;
    position: relative;}

/*ヘッダーの開いてるページ以外のメニュー②*/
header .top-list-item::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0px;
    width: 100%;
    height: 3px;
    background: #ffffff;
    display: block;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)}

/*ヘッダーの開いてるページ以外のメニュー③*/    
header .top-list-item:hover::before {
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)}

/*フッター全体*/
footer{
    width: 100%;
    height: 100px;
    background-color: #E60000;
    color: white;
    text-align: center;}

/*フッターのメニューを並べてる*/
    ul.footer-menu li {
    display: inline;
    }

/*フッターのメニューの色変え*/
.f-m{
    color: inherit;
    text-decoration: none;}

/*フッターのメニューと©の隙間*/
footer .footer-spece{
    font-size: 1px;}

/*メイン背景*/
main{
    background-image: url(../images/back.jpg);
    background-size: 100% 10000px;
    background-repeat: no-repeat;}

/*四次元ポケット*/
.pocket{
    text-align: center;
    width: 50%;
    margin: 0 auto;}

/*ホームタイトル*/
main .h-title{
    font-size: 90px;
    color: #00A8F3;
    text-align: center;}

/*ホームサブタイトル*/
main .h-title-sub{
    font-size: 20px;
    color: #00A8F3;
    text-align: center;}

.for-t-m{
    font-size: 30px;
    text-align: center;
    color: green;}
    
.for-t-s{
    font-size: 20px;
    text-align: center;
    color: green;}

.form{
    text-align: center;
    margin-left: 15%;}

.doraemon-t{
    text-align: center;
    font-size: 48px;
    color: #00A8F3;}

.doraemon-s{
    text-align: center;
    font-size: 30px;
    color: #00A8F3;}

.doraemon-m{
    text-align: center;
    font-size: 22px;
    color: #00A8F3;}

.museum-logo{
    width: 30%;
    margin-left: 17%;
    float: center;}

.loppi{
    width: 30%;
    margin-left: 17%;
    float: center;}

.app{
    width: 45%;
    margin-left: 14%;
    float: center;}

.map{
    width: 40%;
    margin-left: 28%;}

.meiko{
    width: 30%;
    text-align: center;
    margin-left: 17%;}